// Tablets & Smaller

// @media (hover: hover) and (pointer: fine) {
//   a[class^="btn-"]:hover {
//     background-color: red;
//   }
// }
@media (min-width: 801px) {
  .main-nav {
    a:hover {
      border-color: $medium-color;
    }
  }
}

@media (max-width: 800px) {
  a[class^="btn-"]:hover {
    background-color: $light-color;
  }

  .main-nav {
    a:hover {
      // z-index: -1;
      // border-color: transparent;
      opacity: 1;
    }
  }

  // a[class^="btn-"]:hover {
  //   background-color: inherit;
  // }

  //
  //  a[class^="btn-"]:hover {
  //   background-color: red;
  // }

  #header-home {
    position: relative;
    height: 30rem;

    .header-content {
      padding-top: 10rem;

      h1 {
        font-size: 46px;
      }
    }
    #z1 {
      position: absolute;
      bottom: 0px;
    }
  }

  #home-s {
    .about {
      font-size: 90%;

      // grid-template-rows: 1fr 1fr;
      // grid-template-columns: 1fr;
      #micha {
        // grid-column: 1 / span 5;
        // grid-row: 1 / span 1;
        // padding: 0rem 2rem;
        border-radius: 50%;
        // grid-column: 2 / span 3;
      }

      #t-con {
        // grid-column: 1 / span 5;
        // background-color: red;
        // grid-column: 1 / span 5;
      }
    }
  }

  #home-a {
    .specials {
      font-size: 100%;

      //   .fab {

      // }
    }
  }
  #home-b {
    .specials {
      grid-gap: 0;
      font-size: 100%;

      //   .fab {

      // }
    }
  }

  #contact {
    &-c {
      h1 {
        font-size: 250%;
      }
    }
  }

  #main-footer {
  }
}

@media (max-width: 500px) {
  .zoom {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0px;
    // background-color: red;
  }

  .main-nav {
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 0;
    height: 100px;
    width: 100%;
    padding: 0 1rem;

    #logo {
      margin-top: 5px;
      width: 50px;
      height: 50px;
    }

    ul {
      justify-content: space-between;
      align-items: flex-start;
      margin: 0;
      // position: absolute;

      // left: auto;
    }
    li {
      // justify-content: space-between;
      padding: 0 1rem;
      margin-bottom: 1rem;
    }
  }

  p.lead {
    font-size: 110%;
  }
  .container {
    padding: 0 0.5rem;
  }

  #header-home {
    position: relative;
    padding-top: 6rem;
    height: 100vh;
    background: $bg-image5 no-repeat center right / cover;
    .header-content {
      // padding-top: 10rem;

      h1 {
        // display: none;
        font-size: 28px;
      }

      p {
        // display: none;
        padding-top: 1rem;
        font-size: 15px;
      }

      .btn-light {
        // display: none;
      }
    }
    #z1 {
      position: absolute;
      bottom: 0px;
    }
  }

  #home-s {
    p.lead {
      margin-bottom: 0.5rem;
    }

    .about {
      font-size: 90%;

      // grid-template-rows: 1fr 1fr;
      // grid-template-columns: 1fr;
      #micha {
        grid-column: 1 / span 5;
        grid-row: 1 / span 1;
        padding: 0;
        border-radius: 50%;
        grid-column: 2 / span 3;
      }

      #t-con {
        // grid-column: 1 / span 5;
        // background-color: red;
        grid-column: 1 / span 5;
        margin: 0;
      }
    }
  }

  #home-a {
    .specials {
      font-size: 100%;

      //   .fab {

      // }
    }
  }
  #home-b {
    .specials {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  #resume {
    #download {
      padding: 4rem 2rem 6.5rem 2rem;
    }
  }

  #contact-a {
    .text-fields {
      // grid-template-rows: 1 /5fr;
      grid-template-areas:
        "name"
        "email"
        "phone"
        "subject"
        "message";

      margin-bottom: 12px;
    }

    button#submit.btn-dark {
      margin-top: 0;
    }
  }

  #contact-b {
    padding: 0;
    .contact-info {
      grid-template-columns: 1fr;
      font-size: 120%;
      div {
        padding: 2rem;
      }
    }
  }

  #contact-c {
    padding: 0rem 0 2rem 0;
  }

  #main-footer {
    .footer-content {
      flex-direction: column;
    }
  }
}

@media (max-width: 415px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 25px;
        font-weight: normal;
      }
    }
  }
}
